debug.py
*.egg-info
.idea/
*-checkpoint.py
.ipynb_checkpoints
__pycache__
bin/modify_stream.py
.vscode
.DS_Store
playbook.ipynb
dist/
build/
playground.py
pre_proc_play.py
notebooks/dask-worker-space
notebooks/proc_data
*.h5
*.nxs
*.so
*.dll
*.dylib
notebooks/
conda-recipe/
docs/_*
publish.sh
*.pyd
