h5py
pandas
tables
hdf5plugin
dask
distributed
tifffile
scipy
astropy
matplotlib
numba
pyqtgraph
pyyaml
scikit-learn
scikit-image
opencv-python-headless
PyQt5
ipykernel
nbsphinx
jupyter-sphinx
nbsphinx-link
sphinx-autodoc-typehints
m2r2