h5py
pandas
tables
hdf5plugin
dask
distributed
tifffile
scipy
astropy
matplotlib
numba
pyqtgraph
pyyaml
scikit-learn
scikit-image
ruamel.yaml
opencv-python-headless
PyQt5
cfelpyutils
onda
ipykernel
nbsphinx
jupyter-sphinx
nbsphinx-link